jsonref
sphinx
sphinxcontrib-opencontracting
sphinxcontrib-opendataservices
sphinxcontrib-opendataservices-jsonschema
sphinx-intl
sphinx_rtd_theme
myst-parser
sphinx-autobuild
pyairtable
PyGithub
ocdskit>=1.1.3
sphinx-design
libcoveofds
flattentool>=0.20
pytest
jscc
mdformat
jsonschema
