.project-logo {
    filter: invert(100%) !important;
	margin-right: 1rem !important;
}

 /* light/dark switcher */
#snftt-luz {
    display: none !important;
}

.nftt-navbar {
	background-color: #110e27 !important;
	background-image: none !important
}

#nfttNavbar {
	background-color: #110e27 !important;
}

.nftt-footer > :first-child {
	background-color: #bbd034 !important;
    border-top: #110e27 1px solid !important;
}

.page-item a span.underline {
	color: #000000 !important;
	text-decoration-color: #000000 !important;
}

.nftt-footer .prev-page {
	color: #000000 !important;
}

.nftt-footer .next-page {
	color: #000000 !important;
}

.nftt-footer > :nth-child(2) {
	background-color: #110e27 !important;
}

.nftt-footer .brand-text {
	color: #ffffff !important;
}

.nftt-footer .list-unstyled li {
	color: #ffffff !important;
}

.nftt-footer .built-with {
	color: #ffffff !important;
}

.nftt-footer .built-with a {
	color: #ffffff !important;
	text-decoration-color: #ffffff !important;
}