table.docutils {
  font-size: 75%;
}

.admonition {
  border-color: #aa2b5c;
}

p.admonition-title {
  background-color: #BB437F4F;
}

p.admonition-title::before {
  background-color: #aa2b5c;
}

table.docutils th {
  background: transparent;
}

tr.row-even {
  background-color: var(--color-background-secondary);
}

.docson .box-header {
  background: #bb437f7d;
}

.docson .box-name {
  color: var(--color-foreground-primary);
}

.docson .box-description {
  color: var(--color-foreground-primary);
}

.docson .box {
  background-color: var(--color-admonition-background);
}

.docson .property-name {
  color: var(--color-foreground-primary);
}

.docson .signature-description {
  color: var(--color-foreground-primary);
}
